*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Courier-prime';
  src: url('./font/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: 'Courier-prime-bold-italic';
  src: url('./font/CourierPrime-BoldItalic.ttf');
}

body {
  font-family: 'Courier-prime', 'Courier New', Courier, monospace;
}